{% extends 'base.html.twig' %}

{% block title %}Hello PerlerPaletteController!{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("css/pattern.css") }}">
{% endblock %}

{% block body %}
	<div class="container-fluid editor">
		<div class="row">
			<div class="col-12 col-xl-8">
				<h1 class="text-center">Grid</h1>
				<div class="grid container" style="margin-top:20px; width:800px; padding:0;" onDragStart="return false" onSelect="return false">
					<div style="position:absolute; overflow: hidden; height: 800px; width: 800px">
						<img src=
							{% if image is null %}
								{% if webimage == "" %}
									"https://picsum.photos/800/?random"
								{% else %}
									"{{ webimage }}"
								{% endif %}
							{% else %}
								"{{ asset('uploads/' ~ image.name) }}"
							{% endif %} alt="background-image" id="image" style="height: 800px; width: auto; margin-left: 0; margin-top: 0">
					</div>
					{% for i in 1..32 %}
						<div class="row d-flex justify-content-center">

							{% for j in 1..32 %}

								<div class="square x{{i}} y{{j}}"
									 style="z-index:1; height:25px; width:25px; border:1px solid grey; background-color:#FFFFFF00;"
									 onclick="changeColor({{i}}, {{j}})"
								>
								</div>

							{% endfor %}

						</div>
					{% endfor %}

				</div>
				<div class="d-flex justify-content-center row">
						<form action="#" method="POST" class="form-inline">
							<input class="form-control" placeholder="Image URL..." type="text" name="webimage">
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
				</div>
				<div class="d-flex justify-content-center row">
						<a href="{{ path('perler_upload_image') }}" class="btn btn-primary">Upload an image</a>
				</div>
			</div>

			<div class="col-12 col-xl-4" id="tools">
				<h1 class="text-center">Palette</h1>
					<div class="row palettes">

						{% for brand in brands %}
							<div class="col-{{ 24/(brands|length) }}">
								<h3 class="text-center">{{ brand.name }}</h3>
								<div class="d-flex flex-wrap row">

								{% for color in palette.colors %}

									{% if color.brand == brand %}
										<div title="{{ color.name }}" style="height:30px; width:30px; background-color: #{{ color.hex }}; border: 1px solid black" onclick="changeCurrentColor('#{{ color.hex }}')"></div>
									{% endif %}

								{% endfor %}

								</div>
							</div>
						{% endfor %}

					</div>

				<h1 class="text-center">Current color</h1>
				<div class="d-flex justify-content-center row">
					<img src="{{ asset("resources/transparent.png") }}" alt="background-image" style="height: 50px; width; 50px; position:absolute;">
					<div class="currentColor" style="z-index: 1; height:50px; width:50px; background-color:#000000; border: 1px solid black;"></div>
				</div>

				<h1 class=text-center>Tools</h1>
				<div class="d-flex justify-content-center row">
					<button class="btn btn-primary" id="eraserButton" onclick="changeCurrentColor('#FFFFFF00')">Eraser</button>
					<button class="btn btn-outline-primary" id="lineButton" onclick="toggleLineTool()">Line</button>
					<button class="btn btn-outline-primary" id="rectangleButton" onclick="toggleRectangleTool()">Rectangle</button>
				</div>

				<h1 class="text-center">Opacity</h1>
				<div class="d-flex justify-content-center row col-6 offset-3" id="opacity">
					<label for="foreground">Foreground</label>
					<input type="range" value="100" class="custom-range" id="foreground" oninput="changeOpacity('foreground', this.value)">
					<label for="background">Background</label>
					<input type="range" value="100" class="custom-range" id="background" oninput="changeOpacity('background', this.value)">
				</div>

				<h1 class="text-center">Move the image</h1>
				<div class="d-flex justify-content-center row moveButtons">
					<button class="btn btn-secondary" onclick="moveVertically(-10)"><i class="fas fa-arrow-up"></i></button>
				</div>
				<div class="d-flex justify-content-center row moveButtons">
					<button class="btn btn-secondary" onclick="moveHorizontally(-10)"><i class="fas fa-arrow-left"></i></button>
					<button class="btn btn-secondary" disabled>o</button>
					<button class="btn btn-secondary" onclick="moveHorizontally(10)"><i class="fas fa-arrow-right"></i></button>
				</div>
				<div class="d-flex justify-content-center row moveButtons">
					<button class="btn btn-secondary" onclick="moveVertically(10)"><i class="fas fa-arrow-down"></i></button>
				</div>

			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset("js/pattern.js") }}"></script>
{% endblock %}